<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fvf.ivoohcliente">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true"/>

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.AutenticacaoActivity"></activity>
        <activity android:name=".activity.CadastroUsuarioActivity"></activity>
        <activity android:name=".activity.HomeActivity"></activity>
        <activity android:name=".activity.VendedorActivity"></activity>
        <activity android:name=".activity.NovoProdutoVendedorActivity"
            android:parentActivityName=".activity.VendedorActivity">
        </activity>
        <activity android:name=".activity.ConfiguracoesEmpresaActivity"
            android:parentActivityName=".activity.VendedorActivity">
        </activity>
        <activity android:name=".activity.ConfiguracoesUsuarioActivity"
            android:parentActivityName=".activity.HomeActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>